/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
*.swo
*.swp
/nbproject/private/
.project
.settings/
nbproject/
/.idea
.env.local.php
_ide_helper.php
*~
/node_modules
/.env
/storage/logs/laravel.log
