    <div class="jumbotron" >
        <h1>{{lead.title}}</h1>
        <p>{{lead.summary}}</p>
        <p>
		<a href="/#/opinion/{{lead.id}}" class="btn btn-primary btn-large">
			Read more... &raquo;
		</a>
	</p>
    </div>
    <div ng-repeat="opinion in opinions">
        <h4 class="post-title"><a href="#/opinion/{{opinion.id}}">{{opinion.title}}</a></h4>
        <h5 class="post-author"> Posted by: <strong>{{opinion.author}}</strong> <i>{{opinion.created_at | time-ago}}</i></h5>       
        <div class="comments-and-votes container">
            <div class="row">							
                <div class="comments-div col-md-1">
                    <span class="icon-bubble"></span>
                    <small>35</small>
                </div> 
                <div class="votes-div col-md-10">
                    <a href="#" class="post-vote-up" id=1>
                        <span class="icon-point-up"></span>
                    </a>
                    <span class="number-of-votes" id=1></span> votes
                    <a href="#" class="post-vote-down" id=1>
                        <span class="icon-point-down"></span>
                    </a>
                </div>						
            </div>
        </div>
    </div>

</div>

    
<!--<div class="panel">
    <div class="jumbotron ">
        <h1>{{lead.title}}</h1>
        <p ng-repeat="paragraph in lead.body">{{paragraph}}</p>
    </div>
</div>
-->


