body{
	background:url('../img/africa-safari-41.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;
        padding: 10%;
}

ng-invalid.ng-dirty
{
   border-color: #CC0000; 
}

ng-valid.ng-dirty
{
    border-color: #008000;
}
.navbar{
    margin-bottom: 0;
}