html{
	background:url('../img/africa-safari-41.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;
}
body{
	background: transparent;
}
.logo{
border: 1px solid #000 ;
}

.main-area{
background: #fff;
margin-top: 150px;
min-height: 600px;
}

.main-content-area{
padding: 5px;
}

.wrapper{
padding: 10px;
}

.post{
}

.comment-wrapper{
margin-top: 3px;
padding: 5px;
border: 1px solid #e1e1e1;
} 

.comments-list{
padding: 0px;
margin: 0px;
}

ul.comment-holder-ul
{
margin: 0px;
padding: 0px;
height: auto;
width: auto;
list-style: none;
overflow: hidden;
}

ul.comment-holder-ul li.comment-holder
{
position: relative;
margin: 0px;
height: auto;
width: auto;
font-size: 13px;
margin: 5px 0 5px 0px;
padding: 5px;
border: 1px solid #8585AD;
overflow: hidden;
}


ul.comment-holder-ul li.comment-holder:hover
{

}

ul.comment-holder-ul li.comment-holder .user-pic
{
float: left;
height: 65px;
width: 65px;
margin: 0 10px 0 0;
}

ul.comment-holder-ul li.comment-holder .user-pic img.user-img-pic
{
width:55px;
height: auto;
margin: 5px;
border: 1px solid #a1a1a1;
}

ul.comment-holder-ul li.comment-holder .comment-box
{
width: auto;
margin: -15px 0 0 75px;
}

ul.comment-holder-ul li.comment-holder h3.username-field
{
height: 25px;
line-height: 22px;
font-size: 11px;
color: blue;
}
ul.comment-holder-ul li.comment-holder:hover .comment-buttons-holder
{
display:block;
}
.comment-buttons-holder
{
display: none;
position: absolute;
top: 0px;
right: 0px;
height: 20px;
width: 100px;
}
.comment-buttons-holder ul
{
list-style: none;
height: auto;
width: auto;
}
.comment-buttons-holder ul li 
{
float: right;
color: #fff;
height: 20px;
width: 20px;
text-align: center;
cursor: pointer;
background: #1919D1;
}
.comment-buttons-holder ul li:hover
{
color: #444;
}

/*coment-insert css*/
.comment-insert
{
height:150px;
width: auto;
margin: 10px;
border: 1px solid #a1a1a1;
position: relative;
}


.user
{
height: 30px;
line-height: 27px;
color: #2E5CB8;
font-size: 14px;
width: auto;
margin: 0 10px 0 10px;
border-bottom: 1px solid #e1e1e1;
}

.comment-insert .comment-insert-container
{
position: relative;
margin: 5px 10px 5px 10px;
border: 1px solid #e1e1e1;
width: auto;
min-height: 102px;
}

.comment-insert .comment-insert-container:hover
{
border: 1px solid #707070;
}

.comment-insert textarea.comment-insert-text
{

position: absolute;
top: 0px;
right: 0px;
left: 0px;
bottom: 0px;
border: none;
width: 100%;
height: 100%;
color: #555;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box
}

.comment-post-btn-wrapper
{
position: absolute;
top: 5px;
right: 10px;
width: 60px;
height: 25px;
line-height: 27px;
background: #6989CC;
color: #ffffff;
font-size: 14px;
text-align: center;
cursor: pointer;

}
.comment-post-btn-wrapper:hover
{
background: #5E7BB8;
}

/*start of original file*/
a:hover{
text-decoration:none;
}

a:visited{
color: #1BD3E0;
}


.ad-box-sidebar.ul, li, ul li a{
list-style: none;
} 

.post{
border: 1px solid #000;
}

.login{
    margin-right: 20px;
}

.title-line{
    margin-left: -60px;
}

.votes{
    padding-top: 15px;
}