<div>
    <div class="pa-sidebar well well-small">
            <ul class="nav nav-list">
                    <li ng-class="{ active: $state.includes('posts') }">
                        <h4>All Posts</h4>
                    </li>
                    <li class="nav-header">Top Posts</li>
                    <li class="list-group-item" ng-repeat="post in filteredPosts">
                        <div class="row-fluid">
                            <div class="col-md-1 vcenter">	
                                    {{($index + 1) + position}}.
                            </div>
                            <div class="col-md-2 vcenter">
                                <a href="#" ng-click="voteUp(post.id)"> <i class="fa fa-angle-up"></i></a>
                                <small>{{50}}votes</small>
                                <a href="#" ng-click="voteDown(post.id)"> <i class="fa fa-angle-down"></i></a>
                            </div>
                            <div class="col-md-6 vcenter">
                                <h3>
                                    <a href={{post.url}}>{{post.title}}</a>
                                </h3>   
                                <em>{{ post.created_at | timeAgo}}</em> 
                                by <cite>{{post.username}}</cite>
                                <p>
                                    <em>{{40}}</em>Comments
                                    <a ng-click="show(post.id)" >View Comments...</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <pagination total-items="totalItems" items-per-page="itemsPerPage" 
                    ng-model="currentPage" ng-change="pageChanged()"></pagination>
            </ul>
            <hr>
    </div>
</div>


