<div class="panel" ng-show="isSelected(post)">
	<form name="CommentForm" novalidate role="form" ng-if="isAuthenticated()" ng-submit="CommentForm.$valid && comment(post)">
		<label for="InputComment">Add a Comment</label>
		<textarea ng-model="newComment.message" class="form-control" id="InputComment" rows="3" required></textarea>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	<ul class="nav nav-list" ng-repeat="comment in post.comments">
		<li class="list-group-item">
			<strong><cite>{{comment.author.username}}</cite></strong> 
			{{comment.updated_at | timeAgo }}
			<p>{{comment.message}}</p>
		</li>
	</ul>
</div>
