<button class="btn btn-info" ng-click="trigger()">Create a Post</button>
<div class="panel" ng-if="create.form">
	<form novalidate name="PostForm" ng-submit="PostForm.$valid && post(PostForm)">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-header"></i></span>
						<input type="text" name="title" id="title" ng-model="data.title" placeholder="Title" class="form-control" autocomplete="off" required>                                        
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-at"></i></span>
						<input type="url" ng-model="data.url" class="form-control" placeholder="URL" autocomplete="off" required>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<auto-complete model="data.tags"></auto-complete>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="form-group">
					<div class="input-group">
						<input class="btn btn-info" type="submit" value="Create"> 
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

