<div id="top">
	<div class="panel panel-default">
		<ul class="nav nav-list">
			<li ng-class="{ active: $state.includes('posts') }">
				<h4>All Posts</h4>
			</li>
			<li ng-if="user.isLoggedIn">
			<div ui-view="create"></div>
			</li>
			<li class="nav-header">
			<ul class="nav nav-tabs">
				<li role="presentation"><a href="#">Top Posts</a> </li>
				<li role="presentation"><a href="#">Newest Posts</a> </li>
				<li role="presentation"><a href="#">Most Discussed Posts</a> </li>
			</ul>
			</li>
			<div ui-view="list"></div>
				</ul>
				<hr>
			</div>
		</div>


